<head>
  <title>Sistema Comprot</title>
  <script src="/static/js/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="/static/js/lib/jquery-dateFormat.min.js"></script>
  <script src="/static/js/lib/jquery.maskedinput.min.js"></script>
    <script src="/static/js/lib/html.js"></script>
  <script src="/static/js/js.js"></script>
    <script src="/static/js/util.js"></script>
      <script src="/static/js/novoUtil.js"></script>
     <script src="/static/js/lib/corsFile.js"></script>
     <script src="/static/js/lib/loading.js"></script>
     <script src="/static/js/processo.js"></script>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/main.css" />
</head>